<p>
  menu works!
</p>


<div class="container">

  <div class="row">

    <div class="col">
      <button class=" btn btn-light" routerLink="/vote" routerLinkActive="active-link">Vote</button>
    </div>

    <div class="col">
      <button class=" btn btn-light" routerLink="/classement" routerLinkActive="active-link">Classement</button>
    </div>

    <div class="col align-self-end">
    <button class="btn btn-dark" routerLink="/auth" routerLinkActive="active-link">Connexion</button>
      <button class="btn btn-dark" routerLink="/logout" routerLinkActive="active-link" (click)=deconnecter()>Deconnexion</button>
    </div>

  </div>

</div>