<p>
  classement works!
</p>

<div class="container">

  <ul>
    <li *ngFor="let coll of listeParticipant">
      <!--
      <div class="col-sm-4"> {{coll.score}} </div>

      <div class="col-sm-4">
        <img src="{{coll.photoUrl}}" width="200" heigth="200"/>
      </div>

      <div class="col-sm-4">
        <p>{{coll.nom}}</p>
        <p>{{coll.prenom}}</p>
      </div>
-->
      <div class="card" style="width: 18rem;">
        <div class="card-header">{{coll.score}}</div>

        <img class="card-img-top" src="{{coll.photoUrl}}">

        <div class="card-body">
          <p class="card-text">{{coll.nom}}</p>
          <p class="card-text">{{coll.prenom}}</p>
        </div>

      </div>

    </li>
  </ul>
</div>